html {
  font-size: 10px;
}

body {
  color: #100A30;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 123.2rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 123.2rem;
  margin: 0 auto;
  padding: 2.1rem 1.5rem;
}

.nav {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.nav__item {
  margin-left: 4rem;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-left: 2rem;
}

.nav__link {
  color: #100A30;
  text-decoration: none;
}

.nav__btn {
  font-size: 1.4rem;
  background-color: #624DE3;
  color: #fff;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  border-radius: 0.6rem;
}

.banner {
  text-align: center;
  background-color: #100A30;
  color: #fff;
  padding-top: 6.2rem;
  padding-bottom: 75.7rem;
  position: relative;
}

.banner__title {
  font-size: 5.5rem;
  line-height: 6.4rem;
  max-width: 56.3rem;
  margin: 0 auto;
  margin-bottom: 2.6rem;
}

.banner__text {
  line-height: 3rem;
  margin-bottom: 4.8rem;
}

.banner__img {
  position: absolute;
  bottom: -17.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-group__btn {
  border: 0.1rem solid #fff;
  padding: 1.5rem 3.6rem;
  border-radius: 0.6rem;
  color: #fff;
  text-decoration: none;
  margin: 0rem 0.8rem;
  display: inline-block;
}

.btn-group__btn-main {
  background-color: #624DE3;
  font-size: 1.5rem;
  border: 0.1rem solid transparent;
  padding: 1.6rem 3.6rem;
}

.section {
  padding-top: 15rem;
  padding-bottom: 8.6rem;
}

.section__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin: 0 auto;
  text-align: center;
  max-width: 59rem;
  margin-bottom: 5.8rem;
}

.tarif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tarif-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.tarif-item-01 .tarif-header {
  background-image: url(../img/tarif-01.svg);
}

.tarif-item-01 .tarif-footer {
  background-color: rgba(16, 10, 48, 0.05);
}

.tarif-item-01 .tarif-list__item::before {
  background-image: url(../img/check-01.svg);
}

.tarif-item-02 .tarif-header {
  background-image: url(../img/tarif-02.svg);
}

.tarif-item-02 .tarif-footer {
  background-color: rgba(25, 199, 135, 0.05);
}

.tarif-item-02 .tarif-list__item::before {
  background-image: url(../img/check-02.svg);
}

.tarif-item-03 .tarif-header {
  background-image: url(../img/tarif-03.svg);
}

.tarif-item-03 .tarif-footer {
  background-color: rgba(252, 185, 52, 0.05);
}

.tarif-item-03 .tarif-list__item::before {
  background-image: url(../img/check-03.svg);
}

.tarif-list {
  list-style: none;
  padding-left: 0;
}

.tarif-list__item {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.tarif-list__item::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  top: calc(50%-1rem);
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
}

.tarif-header {
  background-position: 0 center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10rem;
  border-radius: 0.8rem 0.8rem 0 0;
}

.tarif-info {
  background-color: #100A30;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 3rem;
  padding-right: 3.7rem;
  padding-top: 4rem;
  padding-bottom: 3.7rem;
  position: relative;
}

.tarif-info::before {
  content: "";
  display: block;
  background-image: url(../img/item.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 4.6rem;
  position: absolute;
  top: -4.5rem;
  left: 0;
}

.tarif-info__title {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}

.tarif-info__title::before {
  content: "";
  display: block;
  width: 6.1rem;
  height: 1.6rem;
  background-image: url(../img/tarif-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.3rem;
}

.tarif-info__price {
  font-size: 4.8rem;
  margin: 0;
}

.tarif-info__price span {
  font-size: 1.5rem;
}

.tarif-footer {
  border-radius: 0 0 0.8rem 0.8rem;
  padding: 2.4rem 2.6rem;
}

.feedback {
  padding: 11rem 0;
}

.feedback-title {
  max-width: 37.5rem;
  text-align: left;
  margin: 0;
}

.feedback-card {
  max-width: 100%;
  border-radius: 0.8rem;
  padding: 4rem;
  margin-bottom: 4rem;
}

.feedback-card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3.2rem;
}

.feedback-card-01 {
  background-color: #FDEBEE;
}

.feedback-card-02 {
  background-color: #E8E5FB;
}

.feedback-card-03 {
  background-color: #E8FAF3;
}

.feedback-card-04 {
  background-color: #E6F3FF;
}

.feedback-card-05 {
  background-color: #FFF5E1;
}

.feedback-card-title {
  padding-left: 0;
  margin-bottom: 6rem;
}

.feedback-text {
  max-width: 95%;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #4C4764;
  margin-bottom: 2rem;
}

.feedback-link {
  text-decoration: none;
  color: #100A30;
  font-weight: 700;
}

.feedback-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.5%;
          flex: 0 0 48.5%;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}

.user-data__name {
  font-weight: 700;
  line-height: 2.4rem;
  margin: 0;
}

.user-data__source {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #4C4764;
  margin: 0;
}

.source-img {
  background-repeat: no-repeat;
}

.source-img-feedback {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/feedback-icon.svg);
}

.source-img-twitter {
  width: 2.4rem;
  height: 2rem;
  background-image: url(../img/twitter-icon.svg);
  opacity: 0.08;
}

footer {
  padding: 5.6rem 0;
  background-color: #F8F8F9;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-item__text {
  color: #4C4764;
  line-height: 3rem;
  margin-bottom: 2.4rem;
}

.footer-item__social-link {
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  margin-right: 2.4rem;
  opacity: 0.8;
}

.footer-item__social-link:hover {
  opacity: 1;
}

.footer-item__title {
  margin: 0;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 1.2rem;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list-item {
  margin-bottom: 0.6rem;
}

.footer-list-item__link {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #4C4764;
}

.footer-list-item__link:hover {
  text-decoration: underline;
}

.footer-nav {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */