@import "variables";

html {
    font-size: 10px;
}

body {
    color: $dark;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 123.2rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 123.2rem;
    margin: 0 auto;
    padding: 2.1rem 1.5rem;
}

.nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 0;
    &__item {
        margin-left: 4rem;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-left: 2rem;
        }        
    }
    &__link {
        color: $dark;
        text-decoration: none;
    }
    &__btn {
        font-size: 1.4rem;
        background-color: $purple;
        color: $white;
        text-decoration: none;
        padding: 1.2rem 2.4rem;
        border-radius: 0.6rem;        
    }
}

// ===== banner


.banner {
    text-align: center;
    background-color: $dark;
    color: $white;
    padding-top: 6.2rem;
    padding-bottom: 75.7rem;
    position: relative;
    &__title {
        font-size: 5.5rem;
        line-height: 6.4rem;
        max-width: 56.3rem;
        margin: 0 auto;
        margin-bottom: 2.6rem;
    }
    &__text {
        line-height: 3rem;
        margin-bottom: 4.8rem;
    }
    &__img {
        position: absolute;
        bottom: -17.2rem;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    &__btn {
        border: 0.1rem solid $white;
        padding: 1.5rem 3.6rem;
        border-radius: 0.6rem;
        color: $white;
        text-decoration: none;
        margin: 0rem 0.8rem;
        display: inline-block;
    }
    &__btn-main {
        background-color: $purple;
        font-size: 1.5rem;
        border: 0.1rem solid transparent; 
        padding: 1.6rem 3.6rem;      
    }
}